##############################################################
#
# List of approvers/reviewers for Keptn examples
#
##############################################################

# The default owners for everything in the repo.
* @gostmeaper @EcstaticPilot
